*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body
{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(beach.jpg);
	background-position:center;
	background-size: cover;
}
.container
{
	width: 360px;
	height: 400px;
	margin: 8% auto;
	background: #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
h3
{
	text-align: center;
	margin-bottom: 40px;
	color: #777;
}
.container form
{
	width:280px;
	position: absolute;
	top: 70px;
	left: 40px;
	transition: 0.5s;
}
form input
{
	width:100%;
	padding: 10px 5px;
	margin: 5px 0;
	border:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
::placeholder{
	color: #777;
}
.btn-box
{
	width: 100%;
	margin: 30px auto;
	text-align: center;
	border-radius: 10px;
}
form button
{
	width:110px;
	height: 35px;
	margin:0 10px;
	background: linear-gradient(to right,yellow,red);
	border-radius: 30px;
	border:0;
	outline: none;
	color: #fff;
	cursor: pointer;

}
#Form2{
	left:450px;
}
#Form3
{
	left: 450px;
}
.step-row
{
	width: 360px;
	height: 40;
	margin: 0 auto;
	display: flex;
	align-items: center;
	box-shadow: 0 -1px 9px -1px #000;
	position: relative;
}
.step-col
{
	width: 120px;
	text-align: center;
	content: #333;
	position: relative;
}
#progress
{
	position: absolute;
	height: 100%;
	width: 120px;
	background: linear-gradient(to right,yellow,red);
	transition: 1s;
}
#progress::after
{
	content: '';
	height: 0;
	width: 0;
	border-top: 9px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	right: -20px;
	top:0;
	border-left: 20px solid #f75200;
}